<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>506215932328-ve7ns0vmp9e7r8i7dasurn8q6s3k9l7a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.506215932328-ve7ns0vmp9e7r8i7dasurn8q6s3k9l7a</string>
	<key>API_KEY</key>
	<string>AIzaSyBRZ1GPzBDi1_7qWeqyq0x9ZgguPOBC_Hs</string>
	<key>GCM_SENDER_ID</key>
	<string>506215932328</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.seongho.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-f7f99</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-f7f99.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:506215932328:ios:290c6e8cc0d96938a17d9d</string>
</dict>
</plist>